.container {
  max-width: 1200px;
  display: block;
  margin: 0px auto;
}
.p-5 {
  padding:5px
}
.center {
  display: flex;
  justify-content: center;
}
.p-v-15{
  padding-top: 15px;
  padding-bottom: 15px;
}
input {
  border: none; /* Remove default border */
  outline: none; /* Remove default outline (focus border) */
 /* Add any additional styles or modifications as needed */
  /* marg: 10px; */
  max-height: 40px;
  padding:10px;
  width: 96%;
}
input::placeholder {
  margin-left:10px;
 /* Add any additional styles or modifications as needed */
}
p {
  margin: 5px 0px;
}

.block {
  display: block;
  padding: 10px 0px
}

.sub-heading{
  font-weight: 900;
  color:blueviolet
}